@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
    font-family: Roboto, sans-serif;
    font-size: 20px;
}

.container {
  max-width: 500px;
  margin: auto;
}

h2 {
    text-align: center;
}

h2, h3 {
    margin: 0 0.5em;
    margin-bottom: 0.2em;
    display: inline-block;
}
.last-updated {
  display: block;
  text-align: right;
  color: grey;
  font-size: 0.8em;
  margin: 0 1em;
}
.header {
    margin: 1.3em 0.5em;
}

.arrivals-container {
    padding: 0 5px;
}

.card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 1px 2px rgba(0,0,0,0.24);
    background-color: white;
    padding: 5px;
    margin: 10px 0;
}

.arrival-item-container {
    margin: 10px;
}

.arrival-item.cancelled {
    text-decoration: line-through;
}

.info {
    font-size: 0.8em;
    font-style: italic;
}
.info.delayed {
    color: rgb(228, 151, 19);
    font-weight: bold;
}
.info.cancelled {
    color: rgb(158, 7, 16);
    font-weight: bold;
}
.ion-android-home, .ion-briefcase {
    font-size: 32px;

}
.ion-android-home::after, .ion-briefcase::after {
    content: ' ';
}
button {
    outline: none;
    display: block;
    margin: 10px 10px 10px auto;
    width: 80px;
    height: 80px;
    font-size: 2.6em;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
