
h2 {
    text-align: center;
}

h2, h3 {
    margin: 1em 0.5em;
}

.header {
    margin: 1.3em 0.5em;
}

.arrivals-container {
    padding: 0 5px;
}

.card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 1px 2px rgba(0,0,0,0.24);
    background-color: white;
    padding: 5px;
    margin: 10px 0;
}

.arrival-item-container {
    margin: 10px;
}

.arrival-item {
    &.cancelled {
        text-decoration: line-through;
    }
}

.info {
    font-size: 0.8em;
    font-style: italic;
    &.delayed {
        color: rgb(190, 148, 21);
    }
    &.cancelled {
        color: rgb(158, 7, 16);
        font-weight: bold;
    }
}

.ion-android-home, .ion-briefcase {
    font-size: 32px;
    &::after {
        content: ' ';
    }
}

button {
    outline: none;
    display: block;
    margin: 0 auto;
    width: 20%;
    font-size: 2.6em;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border-color: rgba(255, 255, 255, 0.8);
    border-style: solid;
    border-radius: 20px;
    position: fixed;
    right: 13px;
    bottom: 10px;
}
